<footer class="footer">
    <div class="footer-container">
        <div class="footer-links">
            <small>© 2025 Dayvis Atao. Todos los derechos reservados.</small>
            <a href="https://github.com/Dayvis-0" target="_blank" class="link-footer">
                <img src="assets/images/github.png" alt="GitHub" class="imgGit">
            </a>
            <a href="mailto:amdayvis39@gmail.com" class="link-footer">
                <img src="assets/images/gmail.png" alt="Gmail">
            </a>
        </div>
    </div>
</footer>