<header class="header">
    <nav class="nav">
        <div class="nav-container">
            <div class="nav-brand">
                <div class="profile-section">
                    <div class="profile-photo">
                        <img src="img/yo.jpg" class="profile-image">
                    </div>
                    <div class="social-icons">
                        <a href="https://github.com/Dayvis-0" class="social-icon" target="_blank">
                            <img src="img/github.png" alt="GitHub">
                        </a>
                        <a href="mailto:amdayvis39@gmail.com" class="social-icon">
                            <img src="img/gmail.png" alt="Gmail">
                        </a>
                    </div>
                </div>
            </div>
            <div class="nav-menu">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="nav-link" href="top"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact:true }">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/about-me"
                        routerLinkActive="active">Sobre mí</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/studies" class="nav-link" href="#start"
                        routerLinkActive="active">Estudios</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/contact" class="nav-link" href="#start"
                        routerLinkActive="active">Contacto</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle">Más</a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a routerLink="/gallery" class="dropdown-link" routerLinkActive="active">Galeria</a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/tools" class="dropdown-link" routerLinkActive="active">Herramientas</a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/hobbies" class="dropdown-link" routerLinkActive="active">Hobbies</a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/gaming" class="dropdown-link" routerLinkActive="active">Gaming</a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/reading" class="dropdown-link" routerLinkActive="active">Lectura</a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/meals" class="dropdown-link" routerLinkActive="active">Comidas</a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/time-line" class="dropdown-link" routerLinkActive="active">Linea de tiempo</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>