<header>
    <nav>
        <a routerLink="/">Inicio</a>
        <a routerLink="/sombre mi">Nosotros</a>
        <a routerLink="/productos">Productos</a>
        <a routerLink="/contacto">Contacto</a>
    </nav>
</header>

<header class="header">
    <nav class="nav">
        <div class="nav-container">
            <div class="nav-brand">
                <div class="profile-section">
                    <div class="profile-photo">
                        <img src="assets/images/yo.jpg" class="profile-image">
                    </div>
                    <div class="social-icons">
                        <a href="https://github.com/Dayvis-0" class="social-icon">
                            <img src="assets/images/github.png" alt="GitHub">
                        </a>
                        <a href="mailto:amdayvis39@gmail.com" class="social-icon">
                            <img src="assets/images/gmail.png" alt="Gmail">
                        </a>
                    </div>
                </div>
            </div>
            <div class="nav-menu">
                <ul class="nav-list">
                    <li class="nav-item"><a href="index.html" class="nav-link active">Inicio</a></li>
                    <li class="nav-item"><a routerLink="/sobre mi" class="nav-link">Sobre mí</a></li>
                    <li class="nav-item"><a routerLink="pages/estudios/index.html" class="nav-link">Estudios</a></li>
                    <li class="nav-item"><a href="pages/im/contacto.html" class="nav-link">Contacto</a></li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle">Más</a>
                        <ul class="dropdown-menu">
                            <li class="nav-item"><a href="pages/galeria/index.html" class="dropdown-link">Galería</a></li>
                            <li class="nav-item"><a href="pages/herramientas/index.html" class="dropdown-link">Herramientas</a></li>
                            <li class="nav-item"><a href="pages/hobbies/index.html" class="dropdown-link">Hobbies</a></li>
                            <li class="nav-item"><a href="pages/hobbies/gaming.html" class="dropdown-link">Gaming</a></li>
                            <li class="nav-item"><a href="pages/hobbies/lectura.html" class="dropdown-link">Lectura</a></li>
                            <li class="nav-item"><a href="pages/hobbies/comidas.html" class="dropdown-link">Comidas</a></li>
                            <li class="nav-item"><a href="pages/timeline/index.html" class="dropdown-link">Línea de tiempo</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>