<header class="header">
    <nav class="nav">
        <div class="nav-container">
            <div class="nav-brand">
                <div class="profile-section">
                    <div class="profile-photo">
                        <img src="img/yo.jpg" class="profile-image">
                    </div>
                    <div class="social-icons">
                        <a href="https://github.com/Dayvis-0" class="social-icon" target="_blank">
                            <img src="img/github.png" alt="GitHub">
                        </a>
                        <a href="mailto:amdayvis39@gmail.com" class="social-icon">
                            <img src="img/gmail.png" alt="Gmail">
                        </a>
                    </div>
                </div>
            </div>
            <div class="nav-menu">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="nav-link" href="top"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact:true }">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about-me"
                        routerLinkActive="active">Sobre mí</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/contact" class="nav-link" href="#start"
                        routerLinkActive="active">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/studies" class="nav-link"
                        routerLinkActive="active">Estudios</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/tools" class="nav-link"
                        routerLinkActive="active">Herramientas</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>